extends layouts/main

block content
    .form-container 
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            label(for="file") Video File 
            // accept는 해당 파일형식만 선택할 수 있도록 해주는 것이다. 여기서는 video 파일만 선택 가능 
            input(type="file", id="file", name="videoFile", required=true, accept="video/*")  
            input(type="text", placeholder="Title", name="title") 
            textarea(name="description", placeholder="Description") 
            input(type="submit", value="Upload Video")